html {
  background-color: #BDECB6;

}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #FFF;
  padding: 40px;

  border-radius: 15px;
  box-shadow: 5px 5px 50px #000; 
  
  input {
    width: 100%;
  }

  #best-game-ever-why {
    resize: none;
    width: 100%;

  }


}


